.main-header {
    width: 100%;
    color: #b0b0b0;
    background: #5b5d70;
    position: relative;
}

.main-header nav {
    padding-bottom: 1vh;
    padding-top: 1vh;
    width: 100%;
    text-align: center;
}

.main-header nav .menu-container {
    width: 90%;
    display: table;
    margin: 0 auto;
}

.menu-container > li {
    display: table-cell;
    width: 20%;
    border: 1px solid #b0b0b0;
    height: 50%;
    margin: 0 20px;
    position: relative;

}

.menu-container > li.parent {
    position: relative;
}

li.parent > ul {
    position: absolute;
    display: none;
}

.menu-span {
    display: inline-block;
    background-color: #1e74f1;
    font-size: 2em;
    width: 100%;
    height: 100%;
    color: cornsilk;

}

.parent-span:after {
    content:  "\25BE";
    position: absolute;
}

li.parent:hover > ul {
    display: block;
}

li.parent:hover {
    overflow-y: visible;
}

.main-header .menu-link {
    color: inherit;
    text-decoration: none;
}