/*
.main-header {
    width: 100%;
    color: #b0b0b0;
    background: #eee;
    position: relative;
}

.main-header nav {
    padding-bottom: 1vh;
    padding-top: 1vh;
    width: 100%;
    text-align: center;
}

.main-header nav .menu-container {
    width: 90%;
    display: table;
    margin: 0 auto;
}

.menu-container > li {
    display: table-cell;
    width: 20%;
    height: 50%;
    margin: 0 20px;
    position: relative;
    padding: 0 30px;
}

li.parent > ul {
    position: absolute;
    text-align: center;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
}

li.parent > ul > li {
    text-align: center;
    display: block;
    width: 100%;
    height: inherit;
    color: #7f7f5f;
    padding: 5px 30px 0 30px;
}

.menu-span {
    padding: 5px 0;
    display: block;
    background-color: #d0cdcd;
    font-size: 2em;
    width: 100%;
    height: 100%;
    color: #71665b;
    border: 1px solid #ddd;
    position: relative;
}

.menu-span.span-user {
    background: #e2dfb5;
}

.menu-span > a {
    display: block;
    height: 100%;
    position: relative;
}

.parent-span:after {
    content:  "\25BE";
    position: absolute;
}

li.parent:hover > ul {
    display: block;
}

li.parent:hover {
    overflow-y: visible;
}

.main-header .menu-link {
    color: inherit;
    text-decoration: none;
}

#logout {
    display: none;
}

.input-label {
    cursor: pointer;
}*/


.main-header {
    width: 100%;
    color: #ad0b11;
    position: relative;
    height: auto;
    min-height: 15%;
}

.main-header .header-section {
    height: 5vh;
}

.main-header nav {
    position: relative;
}

.menu-container {
    margin: 0 5vw;
}

.menu-container .parent {
    display: block;
    float: right;
    width: 10vw;
    font-size: 2em;
    margin: 2vw;
    position: relative;
}

.menu-container .parent .container {
    position: absolute;
    display: none;
    width: 160%;
    border: 2px solid;
    border-radius: 5px;
    padding: 5%;
    z-index: 99;
    left: -30%;
    top: 230%;
    background: #fdeae3;
}

.main-header > hr {
    width: 80%;
    color: #b0b0b0;
    margin: auto;
    clear: both;
}

.clear {
    clear: both;
}

.container input {
    width: 80%;
}

.container i {
    width: 15%;
}

.container input.button-submit {
    width: 50%;
    border-radius: 5px;
    background: #ad0b11;
    color: #ffffff;
    margin: 0 auto;
    display: block;
}

.login-form-messages {
    display: block;
    position: absolute;
    font-size: .6em;
    color: #f00;
    width: 160%;

}