.info-message {
    display: block;
    text-align: left;
    padding-left: 8em;
    color: #a3602a;
}

.delimiter {
    height: 20%;
}

.button-submit {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65);
}