# IDE files and directories
.idea
.classpath
.project
.settings
*.iml
**/main/**/database.properties
**/main/**/initial-database.sql

#vendor libraries
**/main/webapp/**/vendors
**/bower-components
**/bower_components
node_modules
**/node-modules
**/node_modules
# compilation
bin
target

!/src/main/webapp/resources/applications/admin/bower.json
!/src/main/webapp/resources/applications/admin/.bowerrc

#other
*.log