# IDE files and directories
.idea
.classpath
.project
.settings
*.iml
**/main/**/database.properties
**/main/**/initial-database.sql

#vendor libraries
**/main/webapp/resources/vendors
**/bower-components
**/node-modules
# compilation
bin
target

!/src/main/webapp/resources/applications/admin/bower.json
!/src/main/webapp/resources/applications/admin/.bowerrc
