#admin-main {
    width: 80%;
    padding-top: 3vh;
    margin: auto;
    font-size: 2em;
    min-height: 70%;
    color: #3daf05;
}

#admin-main h3 {

}

#users-table {
    border-collapse: collapse;
    width: 100%;
    font-size: .8em;
}

#users-table > thead {
    border-bottom: 1px solid #3b8c13;
}

#users-table > thead > tr > th {
    font-weight: 900;
}

#users-table th, #users-table td {
    padding: 1vh 1%;
    text-align: left;
    color: #3daf05;
}

#users-table > tbody > tr > td {
    opacity: .7;
}

#users-table > tbody > tr:hover > td{
    opacity: 1.0;
}

#users-table .table-button {
    color: #fff;
    border-style: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: .8em;
}

.userButton.editButton, .userButton.unlockButton,
.add-user-button, .userButton.confirmButton {
    background-color: green;
}

.userButton.removeButton, .userButton.lockButton,
.userButton.cancelButton {
    background-color: red;
}


